html {
	font-size: 62.5%;
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */


body {
	margin: 2px;
}


/* Grouping content
	 ========================================================================== */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}


pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */


a {
	background-color: transparent;
	text-decoration: none;
}



abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

b,
strong {
	font-weight: bolder;
}


small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}*/--------topheader------*/

.topheader{
    /* display: flex; */
    /* position: relative; */
    width: 98%;
    background-color: white;
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 5px;
    margin-top: 40vh;
}
.topleft{
    /* display: flex; */
    text-align: center;
    color: #000;
    margin-right: 170vh;
    margin-top: 5vh;
    font-size: 12px;
}
.logopdg{
    display: flex;
    position: absolute;
    margin-left: 90vh;
    margin-top: -18vh;

}
.topright{
    /* display: flex; */
    margin-left: 170vh;
    color: #000;
    margin-top: -12vh;
    text-align: center;
    font-size: 12px;
    align-items: center;
}

.union {
color: #065f0a;
}
.travail{
  color: rgb(214, 214, 12);
}
.Justice{
  color: blue;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0;
}

ul {
	list-style: disc;
    background: #079e0e;
    background-size: cover;
}
ul :hover{
    background-color: yellow;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}
/*=======Global Css=================*/

* {
	outline: none;
}

.container {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
}

/*======Page Header=============*/

.top-header {
	/*background: #1c3961;*/
}

.top-header a {
	/*text-decoration: none;*/
	/*color: #fff;*/
	/*font-family: 'Raleway', sans-serif;*/
}

.top-header .container {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.top-header .container .top-header-left svg {
	margin-right: 0.9rem;
}

.top-header-left {
	display: flex;
	flex-flow: row wrap;
}

.top-header-block {
	margin-right: 4.5rem;
}

.top-header-right {
	display: flex;
	flex-flow: row wrap;
}

.top-header-right ul, li {
	margin: 0;
	padding: 0;
}

.top-header-right li {
	display: inline-block;

}

.social-block {
	margin-right: 8.5rem;
}

.top-header-right .social-list li {
	margin-right: 0.625em;
	margin-left: 0.625em;
}

/*=================Menu Navigation===============*/

.main-header .container {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 1.375em;
	padding-bottom: 1.375em;
}


.nav-desktop {
	display: inline-block;
    margin-top: 12vh;
    margin-left: 55vh;
}

.nav-desktop li, .nav-desktop li a{
	font-size: 1.8rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #3a3a3a;
}

.nav-desktop li {
	padding: 1.6rem;
}

.nav-desktop ul ul {
	position: absolute;
	display: none;
	margin: 0;
}

.menu-list {
	display: flex;
}

ul > li {
	position: relative;
}

.nav-desktop .sub-menu {
	top: 100%;
	left: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sub-menu li:hover {
	background: rgba(0,0,0,0.12);
}

.menu-list > li > .sub-menu::before {
	position: absolute;
	content: "";
	border: 1px solid #1f4271;
	top: 0;
	width: 35%;
	left: 3%;
	cursor: pointer;
}

.sub-menu .sub-menu{
	top: -1px;
	left: 100%;
}

.menu-parent:hover > .sub-menu{
	display: block;
	z-index: 999;
	width: 20rem;
	padding-left: 0;
	text-align: left;
}

#bar, #close {
	display: none;
}

.menu-parent::after {
	content: "";
	border: solid #3a3a3a;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-left: 10px;
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}

.menu-parent .menu-parent::after {
	content: "";
	border: solid #3a3a3a;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-left: 10px;
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}
